#log-btn{
    width: 40%;
    margin-left: 5px;
}

#reset-btn{
    width: 40%;
}

.img-euf{
    width: 100%;
}

.img-euf-ft{
    width: 100%;
}

.links{
    margin-top: 0;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 10px;
}